.container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.box {
  flex: 1;
  //transform: skew(-25deg);
  position: relative;
  overflow: hidden;
}
.box:first-child {
  margin-left: calc((100% / 5) / -2);
}
.box:last-child {
  margin-right: calc((100% / 5) / -2);
}

.box:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -50%;
  right: -50%;
  transform: skew(25deg);
  background-image: var(--i);
  background-position: center;
}
.overlapImage_1 {
  background-color: #ffffff8c;
  position: absolute;
  width: 25%;
  top: 10%;
  left: 10%;
}
.overlapImage_2 {
  background-color: #ffffff8c;
  position: absolute;
  width: 25%;
  top: 25%;
  right: 10%;
}
.overlapImage_3 {
  background-color: #ffffff8c;
  position: absolute;
  width: 33%;
  top: 20%;
  left: 30%;
}
.overlapImage_4 {
  background-color: #ffffff8c;
  position: absolute;
  width: 20%;
  top: 5%;
  right: 25%;
}
.overlapImage_5 {
  background-color: #ffffff8c;
  position: absolute;
  width: 15%;
  top: 30%;
  left: 18%;
}
