.overlapImage {
  background-color: #ffffff57;
  position: absolute;
  width: 40%;
  top: 20%;
  right: 30%;
  z-index: 2;
  height: auto;
}
.overlapImage_md {
  background-color: #ffffff57;
  position: absolute;
  width: 40%;
  top: 15%;
  right: 30%;
  z-index: 2;
  height: auto;
}
