#introVideo {
  top: 0;
  width: 100% !important;
  height: auto !important;
}

.quote {
  background: #ffffff;
  position: relative;
  z-index: 1;

  &:after {
    background: inherit;
    content: "";
    display: block;
    height: 15%;
    left: 0;
    position: absolute;
    right: 0;
    -webkit-backface-visibility: hidden; // for Chrome Windows
  }
  &:after {
    bottom: 0;
    transform: skewY(-4.5deg);
    transform-origin: 100%;
  }
}

.introCard {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  z-index: 1;
  position: relative;
}

.upMargin_lg {
  margin-top: -12rem;
}
.upMargin_md {
  margin-top: -12rem;
}
.upMargin_sm {
  margin-top: -6rem;
}
.upMargin_xs {
  margin-top: -3rem;
}
